.runner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items:flex-start;
}
.unner2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-start;
}
.runner-left{
    width: 50%;
    display: flex;
    padding: 10px;
}
.runner-contianer{
    height: 850px;
    overflow: scroll;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
}
.runner-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    padding-left: 0px;
}
.options{
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    padding-bottom: 2px;
}
.lang{
    width: 100px;
    margin-right: 20px;
}
.lang>button{
    cursor: pointer;
    width: 100px;
    outline: none;
    border: none;
    height: 20px;
    font-size: 15px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.langDropDown{
    position: absolute;
    max-height: 100px;
    background-color: white;
    overflow:scroll;
    z-index: 1;
    color: black;
    width: 100px;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.singleLang{
    padding: 5px;
    cursor: pointer;
}
.singleLang:hover{
    background-color: whitesmoke;
}
.actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 4px;
}
.output{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-top: 5px;
}
.stdout{
    width: 70%;
    border: 2px solid white;
    border-radius: 4px;
    padding: 10px;
    overflow: scroll;
}
.out-card{
    width: 30%;
    padding: 5px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 4px;
}
.action-buttons{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rebeccapurple; */
}
.prob-input{
    width: 70%;
    margin-right: 10px;
    height: 50px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.run-but{
    min-width: 80px;
    width: 11%;
    height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 18px;
    border: 1px solid rgb(23, 173, 232);
    color: rgb(23, 173, 232);
    background-color: inherit;
    border-radius: 5px;
}
.run-but:hover{
    cursor: pointer;
    background-color: rgba(23, 173, 232, 0.585);
}
.submit-but{
    min-width: 100px;
    width: 13%;
    height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    align-items: center;
    border: 1px solid rgb(47, 255, 85);
    color: rgb(47, 255, 85);
    background-color: inherit;
    border-radius: 5px;
}
.submit-but:hover{
    cursor: pointer;
    background-color: rgba(47, 255, 85, 0.52);
}
.direc-button{
    min-width:25px;
    font-size: 20px;
    font-weight: bold;
    width: 4%;
    height: 40px;
    border: 4px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: inherit;
    border-radius: 5px;
}
.direc-button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.476);
}
.loading-login2{
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
